body, input
{
	font-family: GillSans, Calibri, Trebuchet, Sans-Serif;
}

table
{
	border-collapse: collapse;
}

th
{
	text-align: left;
}

td
{
	border-top: solid 1px #ccc;
}

th, td
{
	padding: 0 1em;
}

label
{
	display: block;
	float: left;
	width: 10em;
}
