<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hello.Repo.Properties.Settings.helloappConnectionString"
            connectionString="Data Source=RYAN\SQLEXPRESS;Initial Catalog=helloapp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hello.Repo.Properties.Settings.helloappConnectionString1"
            connectionString="Data Source=DEV-MELVYN\SQL2008;Initial Catalog=helloapp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hello.Repo.Properties.Settings.helloappConnectionString2"
            connectionString="Data Source=IS-MATTLTEST.TESTNET\SQL2008;Initial Catalog=helloapp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>