<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Hello.Repo.Properties.Settings.helloappConnectionString"
        connectionString="Data Source=RYAN\SQLEXPRESS;Initial Catalog=helloapp;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>