<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Hello.Bot.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <appSettings file="appsettings.local.config">
    <add key="TwitterBotUsername" value="HelloApp" />
    <add key="TwitterBotPassword" value="" />
    <add key="TwitterHashTag" value="helloapp" />
    <add key="DefaultImageURL" value="http://s.twimg.com/images/default_profile_bigger.png" />
    <add key="PointsForMet" value="10" />
    <add key="PointsForSat" value="5" />
    <add key="PointsForHiFive" value="20" />
  </appSettings>

  <connectionStrings configSource="connectionstrings.local.config" />

</configuration>